.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border: 1px solid black;
  padding: 5px;
  background-color: powderblue;
}

.image-one {
  float: right;
  width: 20%;
  height: 20%;
}

.clearfix {
  overflow: auto;
  border: 1px solid blueviolet;
  padding: 5px;
  margin: 10px;
}

.image-two {
  position: relative;
  top: 2000px;
  left: 300px;
  width: 30%;
  height: 30%;
}

/* css for index2.html */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  overflow: auto;
}

.img1 {
  width:5%;
  height:5%;
  float: left;
}

.column {
  float: left;
  width: 33.33%;
  padding:10px;
}

.row:after {
  display: table;
  clear: both;
  content: "";
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.footer {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}
